/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0 auto;
    padding: 10px;
}

/* Header Styles */
h1 {
    color: #4a90e2;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 80px;
    padding: 0px 0px 0px 0px;
}

#sbroc td {
width: 220px;
border: none;
text-align: left;
padding: 6px;
}

#sbroc td p {
font-size: 19px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color: #4a90e2;
    height: 1px;
    padding: 0px 0px 2px 0px;
}

#tit {
    color: #111111;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
    display: none;
}

/* Button Styles */
button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Change display to block for centering */
    margin: 20px auto; /* Center the button */
}

#adjs, #adjo, #actb, #adjno {
    background-color: #dddddd;
    color: #000;
    border: none;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0px;
}

#adjs:disabled, #adjo:disabled, #actb:disabled {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker grey text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Slightly transparent effect */
}

#adjs:hover, #adjo:hover, #actb:hover, button:hover {
    background-color: #eeeeee;
}

button:disabled {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker grey text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Slightly transparent effect */
}

/* Flexbox Container */
.container {
    display: flex;
    flex-direction: column;
    width: 55%; /* Adjust width as needed */
    margin-top: 20px;/* Space between */
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 10px;
}

.containerx {
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 0 auto;
}

.side {
    width: 45%;
    margin-top: 20px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 10px;
}

#textchron {
height: 550px;
overflow: scroll; /* Space between */
}

#total  {
    margin-top: 0px; /* Space between */
     margin: 20px;
    padding: 20px;
       background-color: #fff;
        border: 1px solid #666;
            border-radius: 10px;
}

#author  {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 10px;
}

#chron {
    text-align: left; /* Correct alignment */
}

#chron td {
    padding: 3px;
    border: none;
    text-align: left;
    font-size: 16px;
}

#maintab {
    margin: auto;
    width: 100%;
}

#maintab td {
padding: 10px;
border: 1px solid #ddd;
text-align: left;
font-size: 20px;
}

#maintab p {
    font-size: 18px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    width: 93%;
}

/* Paragraph Styles */
p {
    margin: 0;
    font-size: 18px;
}

.links:hover {
    margin: 0;
    font-size: 18px;
    color: #4a90e2;
}

/* Result Styles */
#subjices, #verbices, #objices, #timices {
    font-weight: bold;
    font-size: 16px;
}

#subjeng, #verbeng, #objeng, #timeng {
    font-style: normal;
}

#mainline {
    padding: 0px;
}

#iconmain {
    width: 90px;
    margin-left: 0px;
    padding: 0px;
}

#mainarea {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px 0px 0px 0px;
}

.parag {
    text-align: justify;
}

#mig {
    width: 200px;
    border-radius: 100px;
    margin-right: 24px;
    float: left;
}

#result {
    font-weight: bold;
    font-size: 30px;
}

#numbset {
    background-color: #857fa0;
    color: #ffffff;
    padding: 5px 9px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 0px;
}

.phrase-n {
    background-color: #45ccff;
    color: #000000;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

.phrase-c {
    background-color: #feef60;
    color: #000000;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0px;
}

.phrase-p {
    background-color: #f5b425;
    color: #000000;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

.phrase-v {
    background-color: #45bab5;
    color: #000000;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

.phrase-a {
    background-color: #f03085;
    color: #000000;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

.phrase-pp {
    background-color: #222222;
    color: #ffffff;
    padding: 4px 7px;
    border-radius: 4px;
    display: inline-block;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

/* Responsive Design */
@media (max-width: 600px) {
    button {
        width: 100%; /* Optional: make buttons full width on small screens */
        font-size: 18px;
    }

    input[type="text"] {
        width: 100%;
    }
}

